body {
    font-family: 'Inconsolata', monospace;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom, #7ed0e7, #77c1ee, #87afee, #a399e1, #bf80c6);
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.card {
    background: rgba(158, 187, 226, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    max-width: 570px;
    width: 90%;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

label {
    color: white;
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-family: monospace;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333333;
    transition: background-color 0.3s ease;
}

input:focus,
select:focus {
    background-color: rgba(255, 255, 255, 1);
}

select {
    cursor: pointer;
}

.rule {
    height: 1px;
    background-color: #ffffff;
    margin: 20px 0;
}

.form-footer {
    text-align: center;
}

#result-container {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
    font-family: monospace;
}

.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #e08b46 0, #603289 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #b5b952 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e1dde8 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #e3e3dd 0 3px 7px inset;
    transform: translateY(2px);
}