body {
    font-family: 'PT Mono', monospace;
    font-size: 16px;
    color: #333333;
    line-height: 2;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

sup {
    line-height: 1;
}

.calculator {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.column {
    text-align: center;
    flex: 1;
    min-width: 300px;
    border-radius: 5px;
}

.input {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    width: 100px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.result {
    margin-top: 15px;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(225, 253, 233);
}

strong {
    font-weight: bold;
}

select {
    font-size: larger;
    padding: 0.1em;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

select:hover {
    background-color: #eeeeee;
}

h2 {
    background-color: #D4F4D4;
    color: #228B22;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .calculator {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .column {
        min-width: auto;
        margin-bottom: 20px;
    }

    .input {
        flex-direction: column;
        gap: 0.5em;
    }

    input {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}