body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-color: #0c1d39;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #0b3d91;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

#ampm {
    text-align: center;
    font-size: 1em;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-input {
    display: flex;
    margin-bottom: 20px;
}

input[type="number"],
select {
    width: 50px;
    padding: 5px;
    margin: 0 5px;
}

button {
    padding: 10px 20px;
    background-color: #ebd9bf;
    border: 2px solid #0c1d39;
    color: #0c1d39;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffe5c0;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

.modal-content {
    background-color: #5764b3;
    box-shadow: 5px 5px 5px rgb(250, 214, 114);
    color: rgb(255, 249, 221);
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.resultDiv {
    margin-left: 50%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 234, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Responsiveness */

@media (max-width: 320px) {
    .modal-content {
        width: 100%;
        margin-top: 600px;
    }
}

@media (min-width: 321px) and (max-width: 600px) {
    .modal-content {
        width: 85%;
        margin-top: 250px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .modal-content {
        width: 70%;
        margin-top: 200px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .modal-content {
        width: 50%;
        margin-top: 200px;
    }
}

@media (min-width: 993px) {
    .modal-content {
        width: 30%;
        margin-top: 150px;
    }
}
