body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    color: white;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.calculator {
    background: #9198a1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.calculator h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.info {
    display: none;
    font-size: 0.9rem;
    color: #555555;
    margin-top: 5px;
    position: absolute;
    /* top: -50%; */
    left: 50%;
    right: 0;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group input:focus+.info {
    display: block;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}