body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #e82a2a;
    padding: 56px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font: optional;
    color:#39054b;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: antiquewhite;
    /* background: transparent; */
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fffbfb;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
