body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out forwards;
}

textarea {
    width: 100%;
    height: 80px;
    font: 1rem sans-serif;
    padding: 10px;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    animation: fadeInAndFloat 1.5s ease-in-out forwards;
}

button {
    padding: 15px;
    font-size: 1rem;
    background-color: #03223b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #0a4c82;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.result li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

li span:first-child {
    font-weight: bold;
    color: #ffffff;
}

li span:last-child {
    color: #03223b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInAndFloat {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.6;
}