body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
    margin: 0;
}

.converter {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.converter h2 {
    margin-bottom: 20px;
    color: #333;
}

.converter textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.converter textarea:focus {
    outline: none;
    border-color: #5264AE;
}

.converter button {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    background-color: #212121;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.converter button:hover {
    background-color: #5264AE;
    transform: translateY(-2px);
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    white-space: pre-wrap;
    text-align: left;
}
