* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.background {
    background-image: url("assets/background.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 80px;
}

h1 {
    text-decoration: underline;
}

h2 {
    margin: 10px auto;
    background-color: rgb(255, 255, 0);
    color: black;
    width: fit-content;
    padding: 15px 25px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card {
    /* text-align: center; */
    height: 32rem;
    width: 26rem;
    border: 3px solid black;
    padding: 2rem;
    background-color: rgb(217, 187, 217);
    /* border-radius: 15px; */

}

.card:hover {
    transition: 0.3s ease-out;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgb(0, 0, 0, 1);
    transform: scale(1.015);

}

.card input {
    font-size: 22px;
    max-width: 400px;
    min-width: 80%;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.result {
    font-size: 22px;
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 10px 2px 10px;
    text-align: center;
    position: relative;
    bottom: 1.7rem;

}

.result:hover {
    transition: 0.2s ease-out;
    background-color: white;
    color: red;
}

.centerbtn {
    width: 100%;
    display: flex;
    justify-content: center;
}




@media (max-width:435px) {
    .background {
        display: none;
    }

    .container {
        padding-top: 0px;
    }

    .card {
        background-color: rgb(161, 181, 255);
        transition: 0.3s ease-out;
        /* padding: 10px; */
        height: 100vh;
        width: 100%;
        padding: 2rem;
        padding-top: 5rem;
        border: none;
    }

}