body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.quiz-container {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

#question-container {
    border: 1px solid #dddddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .quiz-container {
        width: 90%;
    }
}

/* Add styling for the answer input box */
#answer-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Additional styling for smaller screens */
@media (max-width: 600px) {
    input {
        margin-bottom: 15px;
    }
}