body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/background.webp');
    background-size: cover;
    background-position: center;
}

label {
    color: lightyellow;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.calculator {
    background-color: rgba(32, 104, 205, 0.9);
    border-radius: 10px;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 6px rgba(64, 84, 110, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 400px;
}

.calculator:hover {
    box-shadow: 0 8px 12px rgba(48, 105, 185, 0.2);
}

input,
select {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
}

input:focus,
select:focus {
    border-color: #332b91;
    outline: none;
}

button {
    padding: 12px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(90deg, #5b80ec, #ff4dd2);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background: linear-gradient(90deg, #4ef15c, #906fea);
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-weight: bolder;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out;
    align-items: center;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .calculator {
        width: 90%;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}