body {
    font-family: 'Roboto', sans-serif;
    background-image: url('assets/background.webp');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    height: 100%;
    min-height: 100vh;
}

.calculator {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #007bff;
}

.formula {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555555;
}

label {
    font-size: 14px;
    margin: 10px 0 5px;
    display: block;
    text-align: left;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}