@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: fit-content;
    margin-top: 15vh;
    padding: 1rem; /* Added padding to avoid content touching the edges */
}

.styled-table {
    max-width: 60vw;
    width: 100%; /* Ensures the table takes full width within the container */
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border: 5px solid white;
    border-collapse: collapse;
}

.styled-table th,
.styled-table td {
    border: 2px solid white; /* Adjust as necessary */
    padding: 0.5rem;
}

.selectbar {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left !important;
}

.m-td {
    text-align: center;
}

input[type=BUTTON] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=BUTTON]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type="text" i] {
    font-weight: 700;
    text-align: center;
}

/* Media Queries */
@media (max-width:1082px) {
    .styled-table {
        max-width: 90vw;
    }
}

@media (max-width: 768px) {
    .styled-table {
        max-width: 90vw;
        font-size: 16px;
    }

    .selectbar {
        width: 70%;
    }

    input[type=BUTTON] {
        width: 40px;
        padding: 0.4rem;
    }

    input[type="text" i] {
        width: 50px;
        padding: 0.4rem 0;
    }

    .styled-table td {
        margin: 2px;
    }
}

/* For small phones */
@media (max-width: 480px) {
    .styled-table {
        width: 90vw;
        font-size: 12px;
    }

    .selectbar {
        width: 80%;
    }

    input[type=BUTTON] {
        width: 30px;
        padding: 0.3rem;
    }

    .styled-table td {
        padding: 0.3rem;
    }

    .styled-table .m-td {
        padding: 0.2rem;
    }

    input[type="text" i] {
        width: 50px;
        padding: 0.3rem 0;
    }
}
