body {
    font-family: 'Arial', sans-serif;
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculator {
    background-color: #4e5a68;
    width: 85%;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7), -10px -10px 20px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10%;
}

h1 {
    text-align: center;
    color: #00bcd4;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #00bcd4;
    padding: 8px;
    text-align: left;
    background-color: #4e5a68;
    color: #ffffff;
}

th {
    background-color: #00bcd4;
}

select {
    width: 100%;
    padding: 8px;
    background-color: #57697a;
    color: #ffffff;
    border: 1px solid #00bcd4;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

button {
    padding: 10px;
    background-color: #00bcd4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5), -3px -3px 8px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008ba3;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .calculator {
        width: 90%;
        gap: 5%;
    }

    table {
        font-size: 14px;
    }

    input,
    select {
        width: 100%;
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }
}