@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(9, 5, 40);
    margin: 0 auto;
}

.box {
    padding: 50px;
    text-align: center;
    position: sticky;
    box-sizing: border-box;
}

.contact-container {
    position: relative;
    max-width: 550px;
    min-height: 400px;
    margin: 0 auto;
    padding: 25px;
    padding-top: 10px;
    background: linear-gradient(177deg, rgba(245, 230, 230, 0.7232142857142857) 40%, rgba(249, 249, 249, 0.21621148459383754) 100%, rgba(0, 0, 0, 1) 100%);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 25px #001aff;
    overflow: auto;
}

.contact-container h2 {
    font-family: Ubuntu;
    font-size: 4rem;
    margin-top: 16px;
    color: #007ACC;
    text-shadow:
        0 0 10px #ffffff,
        0 0 20px #ffffff,
        0 0 30px #ffffff,
        0 0 40px #00F2A3,
        0 0 50px #00F2A3,
        0 0 60px #0099CC,
        0 0 70px #0099CC;
    animation: glitterBlue 1.5s infinite;
}

@keyframes glitterBlue {
    0% {
        text-shadow:
            0 0 10px #ffffff,
            0 0 20px #ffffff,
            0 0 30px #ffffff,
            0 0 40px #00F2A3,
            0 0 50px #00F2A3,
            0 0 60px #0099CC,
            0 0 70px #0099CC;
    }

    50% {
        text-shadow:
            0 0 20px #ffffff,
            0 0 40px #ffffff,
            0 0 60px #00F2A3,
            0 0 80px #00F2A3,
            0 0 100px #0099CC,
            0 0 120px #0099CC;
    }

    100% {
        text-shadow:
            0 0 10px #ffffff,
            0 0 20px #ffffff,
            0 0 30px #ffffff,
            0 0 40px #00F2A3,
            0 0 50px #00F2A3,
            0 0 60px #0099CC,
            0 0 70px #0099CC;
    }
}

@keyframes glitterPink {
    0% {
        text-shadow:
            0 0 10px #FFB6C1,
            0 0 20px #FF69B4,
            0 0 30px #FF69B4,
            0 0 40px #FF1493,
            0 0 50px #FF1493,
            0 0 60px #FF1493,
            0 0 70px #FF69B4;
    }

    50% {
        text-shadow:
            0 0 20px #FFB6C1,
            0 0 40px #FF69B4,
            0 0 60px #FF69B4,
            0 0 80px #FF1493,
            0 0 100px #FF1493,
            0 0 120px #FF69B4;
    }

    100% {
        text-shadow:
            0 0 10px #FFB6C1,
            0 0 20px #FF69B4,
            0 0 30px #FF69B4,
            0 0 40px #FF1493,
            0 0 50px #FF1493,
            0 0 60px #FF1493,
            0 0 70px #FF69B4;
    }
}

.dark-mode .contact-container h2 {
    font-family: Ubuntu;
    font-size: 4rem;
    margin-top: 16px;
    color: #FF69B4;
    text-shadow:
        0 0 10px #FFB6C1,
        0 0 20px #FF69B4,
        0 0 30px #FF69B4,
        0 0 40px #FF1493,
        0 0 50px #FF1493,
        0 0 60px #FF1493,
        0 0 70px #FF69B4;
    animation: glitterPink 1.5s infinite;
}


.contact-container p {
    color: black;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 28px;
}

.contact-container form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-container label {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 10px var(--light);
}

.dark-mode .contact-container {
    box-shadow: -5px -5px 25px #b400a5;
}

.dark-mode .contact-container label {
    color: darkblue;
    text-shadow: 2px 2px 10px var(--primary);
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin: 8px 0 25px;
    border: 1px solid #dddddd;
    transition: all 0.2s linear;
}

.contact-container textarea {
    border: 1px solid #dddddd;
    resize: vertical;
}

input:hover,
textarea:hover {
    box-shadow: 5px 5px 10px black;
}

.contact-container #charCount {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    color: #87CEEB;
}

.dark-mode .contact-container #charCount {
    color: white;
}

.dark-mode .contact-container button {
    background: #ff1b82;
}

.contact-container button {
    font-size: 20px;
    font-weight: 700;
    margin-top: 21px;
    padding: 10px 15px;
    width: 200px;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    background: #001aff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.contact-container p {
    color: #008080;
}

.dark-mode .contact-container p {
    color: #1C1B29;
}

.footer-basic {
    padding: 40px 0;
    background-color: rgb(9, 5, 40, 0.9);
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: var(--light);
    padding: 8px;
    font-weight: 500;
    border: 1px solid transparent;
    text-decoration: none;
    transition: 0.3s ease-in;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
    color: var(--primary);
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}