/* Add this CSS to your existing style.css or create a new contact.css file */

body {
    background: #5b0053; /* Set a background color for the contact page */
    margin: 0; /* Reset default margin */
}

.contact-section {
    padding: 80px 0;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-container h2 {
    color: var(--dark);
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-container p {
    color: var(--secondary);
    font-size: 18px;
    margin-bottom: 40px;
}

form {
    display: grid;
    gap: 20px;
}

label {
    color: var(--dark);
    font-size: 18px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark);
    border-radius: 6px;
    margin-top: 8px;
}

button {
    background-color: var(--dark);
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: var(--ternary);
}

.contact-container p {
    color: #ffffff; /* Dark red color */
    font-size: 20px;
    margin-bottom: 40px;
}

footer {
    clear: both;
    position: absolute;
    height: 150px;
    margin-top: -200px;
    margin-bottom:-150px;
}
