@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(9, 5, 40);
    margin: 0 auto;
}

.box {
    padding: 50px;
    text-align: center;
    position: sticky;
    box-sizing: border-box;
}

.contact-container {
    position: relative;
    max-width: 550px;
    min-height: 400px;
    margin: 0 auto;
    padding: 25px;
    padding-top: 10px;
    background: linear-gradient(177deg, rgba(245, 230, 230, 0.7232142857142857) 40%, rgba(249, 249, 249, 0.21621148459383754) 100%, rgba(0, 0, 0, 1) 100%);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 25px #b400a5;
    overflow: auto;
}

.contact-container h2 {
    font-family: Ubuntu;
    font-size: 4rem;
    margin-top: 16px;
    color: #ffffff;
}

.contact-container p {
    color: black;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 28px;
}

.contact-container form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-container label {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 10px var(--light);
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 25px;
    border: 0;
    transition: all linear .2s;
}

.contact-container textarea {
    border: 1px solid #ccc;
    resize: vertical;
}

input:hover,
textarea:hover {
    box-shadow: 5px 5px 10px black;
}

.contact-container button {
    font-size: 20px;
    font-weight: 700;
    margin-top: 21px;
    padding: 10px 15px;
    width: 200px;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    background: #ff1b82;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.footer-basic {
    padding: 40px 0;
    background-color: rgb(9, 5, 40, 0.9);
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: var(--light);
    padding: 8px;
    font-weight: 500;
    border: 1px solid transparent;
    text-decoration: none;
    transition: 0.3s ease-in;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
    color: var(--primary);
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}
