@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    box-shadow: 0px 10px 10px 0px black;
    overflow: hidden;
}

.left-box {
    background-color: #00d2d3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}

.left-box h1 {
    font-size: 2.5rem;
    font-weight: 850;
    letter-spacing: 3px;
}

.acc-F {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    min-height: 30vh;
}

.acc-F h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0px;
}

.right-box {
    flex: 2 1 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right-box input,
.right-box select {
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    height: 35px;
    padding: 10px;
    outline: none;
    border: 3px solid #9d9a9a;
    border-radius: 35px;
    font-size: 0.9rem;
}

.right-box button {
    height: 40px;
    width: 150px;
    margin-top: 10px;
    padding: 0 10px;
    background-color: #00d2d3;
    color: white;
    border: none;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}

.right-box button:hover {
    background-color: #069191;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .left-box,
    .right-box {
        flex: 1 1 100%;
        padding: 20px;
    }

    .left-box h1 {
        font-size: 2rem;
    }

    .right-box input,
    .right-box select {
        max-width: 100%;
    }
}
