/* Reset and Defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Body Styles */
body {
    background-color: #0c0c0c;
    color: #fff;
    margin: 0;
    padding: 40px;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff66cc;
    margin-bottom: 40px;
}

/* Form and Input Styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="text"],
select,
.matrix-input {
    width: 80px;
    /* Adjusted width */
    height: 80px;
    /* Adjusted height */
    font-size: 2.4rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 4px solid #ff66cc;
    border-radius: 15px;
    outline: none;
    color: #ff66cc;
    background-color: #1a1a1a;
    transition: border-color 0.3s ease;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ff66cc;
    margin-bottom: 40px;
    animation: scaleAnimation 2s ease-in-out infinite alternate;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.030);
    }

    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

input[type="text"]:focus,
select:focus,
.matrix-input:focus {
    border-color: #ffcc00;
}

div {
    display: none;
}

button {
    padding: 15px 30px;
    margin: 10px;
    background-color: #ffcc00;
    color: #1a1a1a;
    border: none;
    border-radius: 25px;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff66cc;
}

/* Responsive Styles */
@media screen and (max-width: 877px) {

    input[type="text"],
    select,
    .matrix-input {
        width: 90%;
    }
}

.matrix-input {
    width: 25%;
    max-width: 120px;
    height: 80px;
    font-size: 2.4rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 4px solid #ff66cc;
    border-radius: 15px;
    outline: none;
    color: #ff66cc;
    background-color: #1a1a1a;
    transition: border-color 0.3s ease;
}

.operation-select {
    width: 30%;
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px;
    border: 4px solid #ff66cc;
    border-radius: 15px;
    outline: none;
    color: #ff66cc;
    background-color: #1a1a1a;
    transition: border-color 0.3s ease;
}