body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: auto;
    background: rgba(244, 244, 244, 0.9);
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 2px;
    margin: 5px 0;
}

button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}