body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.calculator label {
    display: block;
    margin: 10px 0 5px;
}

.calculator input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.calculator-options button.wave {
    background-color: rgb(125, 72, 125);
}

.calculator-options button.wave:hover {
    background-color: rgb(66, 46, 66);
}

.calculator-options button.optics {
    background-color: rgb(41, 97, 97);
}

.calculator-options button.optics:hover {
    background-color: rgb(36, 67, 67);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.result {
    text-align: center;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #fff;
}
