body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, rgb(216, 9, 92), #1568c6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: linear-gradient(135deg, #4a90e2, rgb(106, 28, 59));
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

.input-group {
  margin: 15px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #d000ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #d40842;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
