




.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(4)::before,
.container .box:nth-child(4)::after {
    background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(5)::before,
.container .box:nth-child(5)::after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(6)::before,
.container .box:nth-child(6)::after {
    background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(7)::before,
.container .box:nth-child(7)::after {
    background: linear-gradient(315deg, #3a3f38, #6abd1b);
}


