@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #ff1b82;
    --secondary: #f4eff0;
    --ternary: #1327ff;
    --light: #f7f26c;
    --dark: #f50414;
    --track: rgb(111, 111, 139)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Scrollbar Css */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:var(--track);
}

::-webkit-scrollbar-thumb {
    background:var(--light);
    border-radius: 25px;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.4rem;
}

html {
    font-size: 62.5%;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    font-family: 'Poppins',sans-serif;
    background-color: rgb(9, 5, 40);
    margin: 0 auto;
}

.navbar a {
    text-decoration: none;
  
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    color: #C5C6C7;
    transition: 0.3s ease-in-out;
}

.nav-link:hover{
    color: #ff1b82;
    border-top-color: #ff1b82;
    border-bottom-color: #ff1b82;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    display: flex;

    gap: 2rem;
    list-style: none;
}

.logo {
    font-size: 2.3rem;
    font-weight: 700;
    margin-left: 10px;
    font-family: Ubuntu;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.logo:hover {
    color: #b400a5; /* Change to the desired color of logo when hovered */
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary);
}

/* Components Section Css */

section {
    scroll-margin-top: 50px;
    z-index: 100;
}

.comp-section .compcontainer .logo img {
    width: 250px;
    margin-bottom: -25px;
}

.comp-section .compcontainer h1,
.comp-section .compcontainer h3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 200;
}

.comp-section .compcontainer h1 { 
    font-family: Ubuntu;
    text-shadow: 2px 2px 10px var(--light);
    margin-top: 16px;
}

.comp-section .compcontainer h3 {
    font-family: 'Poppins',sans-serif;
    color: rgb(244 239 240 / 91%);
    margin-top: 2rem;
    font-weight: 400;
    font-size: 2.5rem;
}

.comp-section .compcontainer a {
    margin-top: 50px;
}

.comp-section .compcontainer .started {
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 21px;
    padding: 10px 45px;
    border-radius: 18px;
    color: #ffffff;
    background: var(--primary);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.comp-section .compcontainer .started:hover {
    transform: scale(1.02);
    background: #ff6984;
}

.paragraph {
    font-size: 2rem;
    width: 85%;
    text-align: center;
    font-weight: 500;
    margin: auto;
    margin-top: 18px;
    padding: 10px;
    color: rgb(244 239 240 / 91%);
}

.comp-section {
    height: 70vh;
    display: grid;
    color: var(--secondary);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
}

.comp-section h1 {
    font-size: 65px;
}

.comp-section h3 {
    font-size: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 180px;
    padding: 50px 0;
}

.container .box {
    position: relative;
    width: 300px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 25px;
    transition: transform 0.3s;
    background: rgb(245,230,230);
    background: linear-gradient(177deg, rgba(245,230,230,0.7232142857142857) 40%, rgba(249,249,249,0.21621148459383754) 100%, rgba(0,0,0,1) 100%);
    border: 5px solid #682572;
    border-radius: 14px;
    cursor: pointer;
}

.container .box:hover{
    transform: scale(1.02);
    box-shadow: -4px -4px 10px #682572;
}

.container .box .content {
    position: relative;
    left: 0;
    padding: 20px 32px;
    text-align: center;
    transition: 0.5s;
}

.container .box .content h2 {
    font-size: 25px;
    color: rgb(9,5,40);
    margin-top: 20px;
    cursor: pointer;
}

.container .box .content h3 {
    font-size: 15px;
    color: #682572;
    margin-top: 20px;
    transition: all 0.3s;
}

.container .box .content button {
    float: left;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background: var(--primary);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 9px 14px;
    border-radius: 15px;
}

.container .box .content button:hover {
    transform: scale(1.02);
    background: #ff6984;
}

.container .box .content img {
    float: right;
    cursor: pointer;
    height: 36px;
    width: 36px;
    font-weight: 900;
    margin-top: 20px;
    margin-right: -25px;
    border-radius: 20px;
    background-color: var(--light);
    border: 4px solid #682572;
}

.container .box .content img:hover {
    transform: scale(1.02);
    background: #ff6984;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

/* Contributors Styling */

.contributors {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.contributors h1 {
    text-align: center;
    color: #cb73d8;
    font-size: 4rem;
    margin-bottom: 50px;
}

.contributors h1:hover {
    text-decoration: underline;
}

#contributor {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contributor-card {
    width: 65px;
    height: 65px;
    clip-path: polygon(50% 0%, 91% 25%, 91% 75%, 50% 100%, 9% 75%, 9% 25%);
    margin: 5px;
    transition: transform 0.3s ease-in-out , opacity 0.3s ease-in-out;
}

.contributor-card:hover{
    transform: scale(1.35);
    opacity: 0.85;
}

.contributor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contributor-card:nth-child(4n+1),
.contributor-card:nth-child(4n+3) {
    margin-top: -4px;
}

/* Contributors Styling Ends */

/* Scroll to Top Button Styling */

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    transition: opacity 0.3s, background-color 0.3s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

#progress:hover{
    opacity: 1;
    background-color: #df87ef;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    50%{
        transform: translateY(-8px);
    }
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: rgb(104, 98, 232);
    background: linear-gradient(90deg, rgb(159, 157, 235) 0%, rgb(212, 153, 222) 39%, rgb(253, 199, 134) 100%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 26px;
    color: black;
}

/* Scroll to Top Button Styling Ends */

/* Footer Styling */

.footer-basic {
    padding:40px 0;
    background-color: rgb(9, 5, 40, 0.9);
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display:flex;
    justify-content: center;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color: var(--light);
    padding: 8px;
    font-weight: 500;
    border: 1px solid transparent;
    text-decoration:none;
    transition: 0.3s ease-in;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity: 1;
    color: var(--primary);
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
}
  
.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.social{
    font-size: 3.5rem;
    text-decoration: none;
    margin: 0 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.social a{
    color: var(--secondary);
}
.social a:hover{
    color: var(--primary);
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(255, 255, 255);
    margin-bottom:0;
}

/* Footer Styling Ends */

/* Media Queries */

@media (max-width: 1030px) {
    .comp-section {
        flex-direction: column;
        text-align: center;
        width: auto;
        height: 80vh;
    }
}

@media (max-width: 925px) {
    .comp-section {
        flex-direction: column;
        text-align: center;
        width: auto;
        height: 85vh;
    }

    .compcontainer {
        border: 1px transparent;
        padding-bottom: 10px;
    }
}

@media (max-width: 786px) {
    .comp-section {
        flex-direction: column;
        text-align: center;
        width: auto;
        height: 95vh;
    }

    .compcontainer {
        border: 1px transparent;
        padding-bottom: 10px;
    }

    #mySearch {
        height: 6rem;
        width: 50rem;
    }
    .comp-section h1 {
        font-size: 55px;
    }
}

@media (max-width: 500px) {
    .comp-section {
        height: 98vh;
    }

    .compcontainer {
        border: 1px transparent;
        padding-bottom: 10px;
    }

    #mySearch {
        height: 5rem;
        width: 30rem;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--primary);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .container{
        margin-top: 170px;
    }
    .compcontainer {
        padding-top: 10px; /*Fixes #107 */
    }

    .compcontainer h1 {
        font-size: 300%;
        padding-bottom: 10px;
    }

    .compcontainer h3 {
        font-size: 200%;
        padding-bottom: 10px;
    }

    .compcontainer p {
        font-size: 120%;
        text-align: center;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
        font-size: 20px;
    }

    nav li:hover {
        border-bottom: 0.4rem var(--light) solid;
        transition: 0.3s ease-in-out;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
/* search bar css */
#searchBar{
    text-align: center;
    border-radius: 14px;
    margin: 2rem 4rem 0 ;
    padding: 2rem;
    color: white;
}
#searchBar input{
    font-family: 'Poppins',sans-serif;
    border: 0;
    padding: 1rem;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 2rem;
    width: 40rem;
    transition: all linear .2s;
    font-weight: 600;
}
#searchBar h1{
    font-family: Ubuntu;
    font-size: 4rem;
    text-shadow: 2px 2px 10px var(--light);
    margin-top: 16px;
}
#searchBar input:hover{
    transform: scale(1.02);
    box-shadow: -5px -5px 10px #682572;
}
@media (max-width: 550px){
    #searchBar input{
        width: 80%;
    }
}