* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section {
    min-height: 100vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}

.heading-container {
    font-size: 2.7rem;
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.para-section {
    font-size: 1.9rem;
    text-align: center;
    color: white;
    padding: 0 3rem;
    margin-bottom: 2rem;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social {
    font-size: 3.5rem;
    text-decoration: none;
    margin: 0 1rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social a i {
    transition: transform 0.3s ease-in-out;
}

/* Pop up effect */

.social a:hover i {
    transform: translateY(-8px);
}

.social a {
    color: var(--secondary);
}

.social a.user:hover {
    color: #4af3b5;
}

.social a.message:hover {
    color: #73408f;
}

.social a.linkedin:hover {
    color: #1990cb;
}

.social a.github:hover {
    color: #21d061;
}

.social a.instagram:hover {
    color: #d62976;
}

.social a.facebook:hover {
    color: #0026ff;
}

.social a.twitter:hover {
    color: #00fff7;
}

.social a.discord:hover {
    color: #5865F2;
}
