* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section {
    min-height: 100vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}

.heading-container {
    font-size: 2.7rem;
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.para-section {
    font-size: 1.9rem;
    text-align: center;
    color: white;
    padding: 0 3rem;
    margin-bottom: 2rem;
}
