.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    /* background:linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(46, 151, 192, 0.8));
     */
     margin: auto;
     background-color: white;
     /* width:fit-content; */
     border-radius: 14px;

}

.pagination-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 14px;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #e0e0e0;
}

.pagination-button:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.page-numbers {
    display: flex;
    align-items: center;
    gap: 5px;
}
.page-numbers span:hover{
    background-color: #ccc;
}
.page-numbers span {
    margin: 0 2px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
}

.page-numbers span.active {
    background-color: #007bff;
    color: white;
}

#page-input {
    width: 50px;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}