body {
    font-family: Arial, sans-serif;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent card */
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 18px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 2px solid rgb(86, 86, 242);
}

button {
    background-color: #fc1206;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition */
}

button:hover {
    background-color: #eec0f8;
    color: black;
    border: 2px solid rgb(9, 9, 10);
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
