body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-image: linear-gradient(to right,rgb(113, 105, 201),rgb(175, 169, 169));
}

#heading {
    text-align: center;
}

.content {
    background-color: rgb(234, 230, 231);
    padding: 30px;
    border: 1px solid #efeced;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 30px;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

#base {
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px 15px 10px 10px;
    margin-bottom: 15px;
}


#baseError {
    color: rgb(241, 63, 63);
    display: none;
    font-size : 15px ;
}

#number {
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px 15px 10px 10px;
    margin-bottom: 10px;
}

#button {
    margin-top: 20px;
    background-color: rgb(113, 105, 201);
    color: white;
    width: fit-content;
    padding: 0.8rem 2rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
button::before{
    content:"";
    position: absolute;
    background-color: rgb(175, 169, 169);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
button:hover::before{
    transform: scaleX(1);
}
button:hover{
    border: solid 3px #6c65cd;
    color: black;
}
h4{
    color: #6376e0;
}

