body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: linear-gradient(135deg, #153677, #4e085f);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#heading h1 {
    margin: 0;
    font-size: 2em;
}

.animated-heading {
    display: inline-block;
    animation: bounce 3s;
}

.animated-heading:hover {
    animation: bounce 3s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.outer-content {
    margin-top: 20px;
}

.content {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.content:hover {
    transform: translateY(-10px);
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
    margin-top: 20px;
    background-color: rgb(113, 105, 201);
    color: white;
    width: fit-content;
    padding: 0.8rem 2rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
button::before{
    content:"";
    position: absolute;
    
    background-color: rgb(255, 255, 255);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
button:hover::before{
    transform: scaleX(1);
}
button:hover{
    border: solid 3px #4e45d5;
    color: black;
}
h4{
    color: #6376e0;
}
