@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f472b6;
}

.contentbox {
    text-align: center;
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFF;
    color: #0f172a;
}

.contentbox h1 span {
    color: #ec4899;
}

#calculate {
    margin-top: 2rem;
    width: 150px;
    height: 50px;
    background-color: #ec4899;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.gap {
    margin-bottom: 0.5rem;
}

.footer {
    margin-top: 2rem;
}

.input-group {
    position: relative;
    margin: 40px 0 20px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ec4899;
}

.bar {
    position: relative;
    display: block;
    width: 315px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ec4899;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* animations */

@-webkit-keyframes inputHighlighter {
    from {
        background: #ec4899;
    }
    to {
        width: 0;
        background: #ec4899;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #ec4899;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #ec4899;
    }
    to {
        width: 0;
        background: transparent;
    }
}