* {
    padding: 10px;
}

body {
    font-size: large;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(244, 156, 187, 1), rgba(241, 126, 166, 1));
    /* Background Color */
    color: rgb(0, 0, 0);
}

.PressureConverter {
    position: absolute;
    background-color: rgba(242, 106, 141, 1);
    /* Pressure Convertor box Background Color*/
    color: rgba(0, 0, 0, 1);
    /* Pressure Convertor box Text*/
    border-radius: 8%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    box-shadow: rgba(206, 18, 65, 1) 0px 5px 38px;
    /* Pressure Convertor box shadow*/
    text-align: center;
}

.PressureConverter label,
.PressureConverter select,
.PressureConverter button,
.PressureConverter input {
    display: block;
    margin: 10px auto;
}

.PressureConverter label {
    font-weight: bold;
}

.PressureConverter select,
.PressureConverter input {
    display: block;
    margin: 10px auto;
    border: 2px solid rgba(0, 0, 0, 1);
    /* Input box border*/
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
}

.PressureConverter button {
    background-color: rgba(221, 45, 74, 1);
    /* Convert Button Background Color*/
    text-align: center;
    border: 0px;
    border-radius: 11px;
    color: rgba(0, 0, 0, 1);
    /* Convert Button Text*/
    cursor: pointer;
    font-weight: bold;
    padding: 15px 20px;
    width: auto;
    margin: 20px auto;
}

.PressureConverter button:hover {
    background: rgba(136, 13, 30, 1);
    /* Convert Button Background Color on hover*/
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 2px rgba(168, 16, 36, 1), 0 3px 8px 0 rgb(255, 255, 255);
    /* Convert Button shadow on hover*/
}

.PressureConverter p {
    position: relative;
    font-size: larger;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    /* after result Text*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin: 0 auto;
}