body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    background-image: url('assets/image.jpg'); 
    border: 5px solid black;
}

h1 {
    font-family: 'Verdana', sans-serif;
    background: linear-gradient(to right, blue, #a510d1);
    background-clip: text;    
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    font-weight: bolder;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #15dfea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="text"] {
    margin-bottom: 45px; /* Add this line */
}

button:hover {
    background-color: #3815bc;
}

.result-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(100% - 40px);
}

.word-box {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
