body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #6bc1e9;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

#calculator {
    max-width: 300px;
    margin: 20px auto;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(to right, #64cee6, #9198e5);
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 9px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28f2fc;
    color: #ffffff;
    border: none;
    border-radius: 9px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a09e;
}

#result {
    margin-top: 16px;
    font-weight: bold;
    color: #333333;
}