body {
    font-family: Arial, sans-serif;
    background: url("assets/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff58;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(65, 169, 243, 0.584);
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #3187e462;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4d98e8;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input[type="number"]:hover {
    transform: scale(1.05);
    background-color: #4d98e856;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
    display: none;
}
