* {
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 199, 230);
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about {
    font-weight: bold;
    color: rgb(245, 84, 141);
}

.container {
    width: 60%;
    background-color: rgb(254, 254, 229);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.heading {
    font-size: 2.5rem;
    color: rgb(245, 84, 141);
    font-weight: bold;
}

.input {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.input label {
    font-size: 1.5rem;
    color: rgb(245, 84, 141);
    font-weight: bold;
}

.input input {
    width: 80%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(139, 0, 127);
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.output button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(246, 90, 145);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.output button:hover {
    background-color: rgb(216, 24, 184);
}

.output-box {
    margin-top: 20px;
    width: 80%;
    background-color: rgb(224, 242, 255);
    padding: 15px;
    border-radius: 0.5rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: rgb(139, 0, 107);
}
