@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #2e3192 0%, #1bffff 100%);
}

.container {
    width: 400px;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

h2 {
    text-align: center;
    margin: 10px;
    color: #000000;
}

.card {
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(10px);
    padding: 30px 10px;
    box-shadow: 0 5px 30px rgba(87, 11, 16, 0.5);
    position: relative;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#latitude,
#longitude {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    color: dimgray;
    background-color: rgb(211, 211, 211);
}

.card>* {
    width: 100%;
    padding: 1rem;
}

.rise-label,
.set-label {
    font-size: 18px;
    margin-bottom: 5px;
}

.rise-label {
    color: rgb(250, 228, 83);
}

.set-label {
    color: rgb(91, 147, 255)
}

#rise-time,
#set-time {
    font-size: 18px;
    color: #ffffff;
}

.btn-container {
    margin: 20px;
    text-align: center;
}

#button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: rgb(28, 28, 28);
    color: #ffffff;
    scale: 1.05;
    transition: scale 0.3s ease-in-out;
}

#button:hover {
    cursor: pointer;
}

#button:active {
    scale: 1;
}

@media (max-width: 768px) {
    .card>* {
        width: 50%;
    }
}