body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px; /* Adjusted container width */
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Increased gap between form elements */
}

label {
    font-weight: bold;
}

button {
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 30px; 
}

.hidden {
    display: none;
}
