body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f9fc;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 2px solid #00274c;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    color: #00274c;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #00274c;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

button {
    background-color: #005cbf;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003366;
}

#results {
    opacity: 0;
    transition: opacity 0.8s ease;
    display: none;
    /* Added to hide initially */
}

#results.show {
    opacity: 1;
    display: block;
}