body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(#a07eff, #ffffff);
}

.container {
    text-align: center;
    width: 30%;
    max-width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-family: 'Lucida Sans', Arial, sans-serif;
    color: #4f1591;
    font-size: 30px;
    margin-bottom: 20px;
}

.container h2,
h3,
h4 {
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type="number"] {
    display: block;
    width: 100%;
    max-width: calc(100% - 10px);
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="number"]:hover {
    background-color: rgb(255, 230, 221);
}

button {
    padding: 10px 20px;
    border: none;
    background: #8d6fde;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #7d62ca;
    border-bottom: 3px solid #4f1591;
}

.resultsContainer {
    background-color: rgb(255, 230, 221);
    border-radius: 8px;
    border-right: 3px solid #484848;
    border-bottom: 3px solid #484848;
    padding: 20px;
    margin-top: 20px;
}

.results {
    margin-top: 30px;
    font-size: 15px;
    text-align: left;
}

.results p {
    display: block;
    width: 100%;
    max-width: calc(100% - 8px);
    text-align: left;
    padding: 8px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Media queries for responsiveness */

/* For screens smaller than 1024px (larger tablets and small desktops) */
@media only screen and (max-width: 1024px) {
    .container {
        width: 50%;
    }
}

/* For screens smaller than 768px (tablets and mobiles) */
@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    input[type="number"] {
        width: calc(100% - 10px);
    }

    button {
        width: calc(100% - 10px);
    }

    .resultsContainer {
        width: auto;
    }

    .results p {
        width: calc(100% - 10px);
    }
}

/* For screens smaller than 480px (mobiles) */
@media only screen and (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    input[type="number"] {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .resultsContainer {
        padding: 8px;
        width:auto;
    }

    .results p {
        font-size: 12px;
        padding: 6px;
    }
}