html {
    background-color: rgb(62, 62, 62);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
}

h1 {
    color: #333;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 8px;
    margin: 10px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}