* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center !important;
    border-radius: 0.5rem !important;
    border: none !important;
    text-decoration: none !important;
    outline: none !important;
    color: black;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #78ffd6, #a8ff78);
}

.main {
    position: relative;
    max-width: 400px;
    padding: 1rem;
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5), 12px 12px 8px 0px rgba(0, 0, 0, 0.25);
}

.first-equation,
.second-equation {
    padding: 1rem;
    font-size: 25px;
    font-weight: 500;

}

input {
    height: 2.5rem;
    width: 4rem;
    font-size: 20px;
    background: linear-gradient(-45deg, #8cffad, #93ffa1);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5) inset, 12px 12px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.btn {
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0.8rem;
    font-size: 17px;
    cursor: pointer;
    font-size: 700;
    background: linear-gradient(-45deg, #8cffad, #93ffa1);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5), 12px 12px 8px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover,
.btn:focus,
.field:focus {
    background: #ffffff;
}

.output-container {
    margin: 0.5rem auto;
    width: 90%;
    padding: 13px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(-45deg, #8cffad, #93ffa1);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5) inset, 12px 12px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.outputBox {
    display: flex;
    padding: 10px;
}

.output-container>div {
    margin: 5px;
    font-size: 20px;

}

.x-result,
.y-result {
    min-width: 4rem;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(-45deg, #8cffad, #93ffa1);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5), 12px 12px 8px 0px rgba(0, 0, 0, 0.25);
}

.equal {
    margin-left: 2rem;
    margin-right: 2rem;
}

.text {
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(-45deg, #8cffad, #93ffa1);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5) inset, 12px 12px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.solution-type {
    width: 90%;
    height: 4rem;
    margin: auto;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    padding: 6px;
    margin-bottom: 10%;
    background: linear-gradient(-45deg, #8cffad, #93ffa1);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5), 12px 12px 8px 0px rgba(0, 0, 0, 0.25);
}

.warning-msg {
    height: 35px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    background: linear-gradient(-45deg, #8cffad, #93ffa1);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.5) inset, 12px 12px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

@media screen and (max-width: 700px) {

    input {
        height: 2rem;
        width: 2.5rem;
    }

    .output-container {
        width: 90%;
        margin-left: 5%;
    }

}