body {
    font-family: Arial, sans-serif;
    margin-top: 5rem;
    background: radial-gradient(circle, rgb(243, 245, 245), rgb(69, 234, 152));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #333333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#energyCalculator,
#waterCalculator {
    width: 350px;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(46, 47, 46, 0.913) 15px 20px 40px,
        rgba(80, 89, 92, 0.788) 5px 5px 10px;

}

#energyResult,
#waterResult {
    margin-top: 15px;
}