body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('assets/image.png');
    display: flex;
    justify-content: center;
    background-size: cover; /* Ensures the image covers the whole container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(135deg, 
    rgba(0, 255, 0, 0.8) 0%, 
    rgba(50, 205, 50, 0.8) 25%, 
    rgba(255, 255, 0, 0.8) 50%, 
    rgba(154, 205, 50, 0.8) 75%, 
    rgba(0, 0, 0, 0.8) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #55c46f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;transition: background-color 0.3s;
}

button:hover {
    background-color: #073d0e;
    transition: background-color 0.3s;transition: background-color 0.3s;
}

#results {
    margin-top: 20px;
}

#results h2 {
    margin-bottom: 10px;
}

#results p {
    margin: 5px 0;
}
