body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    font-weight: lighter;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sides {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Angles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    background-color: #333;
    color: #fff;
    padding: 8px;
    margin-left: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    appearance: none;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #999;
    margin-left: 2px;
}

input:hover {
    background-color: #444;
}

label {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 8px;
}

.content-div {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.32);
    width: 100%;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 100%;
    box-sizing: border-box;
}

.bg {
    background: linear-gradient(315deg, #00ff88, #f200ff);
    background-size: cover;
    height: 100%;
}

.image {
    width: 20%;
}

#output {
    margin-top: 20px;
    padding: 10px;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.2s;
    filter: grayscale(20%);
    border-radius: 8px;
}

button:hover {
    filter: grayscale(0%);
    background-color: #444;
    color: #eee;
    border-color: #eee;
    transform: scale(1.05);
}

button:active {
    background-color: #222;
    border-color: #555;
    color: #ccc;
    transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.output {
    display: flex;
    justify-content: center;
}

.h-2 {
    display: flex;
    justify-content: center;
}

.final-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e6e6e670;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    width: 70%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#angleType {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    background-color: #333;
    color: #fff;
    padding: 8px;
    margin-left: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    appearance: none;
}

#angleType option {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
}