body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    font-weight: lighter;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sides {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Angles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    background-color: #333;
    color: #fff;
    padding: 8px;
    margin-left: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    appearance: none;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #999;
    margin-left: 2px;
}

input:hover {
    background-color: #444;
}

label {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 8px;
}

.content-div {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.32);
    width: 100%;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 100%;
    /* Set min-height instead of height */
    box-sizing: border-box;
    /* Include padding and border in the height calculation */
}

.bg {
    background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    height: 100%;
}

.image {
    width: 20%;
}



#output {
    margin-top: 20px;
    padding: 10px;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    /* Dark gray background */
    color: #fff;
    /* White text color */
    border: 2px solid black;
    /* White border */
    padding: 10px 20px;
    /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.2s;
    filter: grayscale(20%);
    /* Soft grayscale effect by default */
    border-radius: 8px;
    /* Add border-radius for a curved appearance */
}

/* Remove grayscale on hover */
button:hover {
    filter: grayscale(0%);
    background-color: #444;
    /* Slightly darker background on hover */
    color: #eee;
    /* Lighter text color on hover */
    border-color: #eee;
    /* Lighter border color on hover */
    transform: scale(1.05);
    /* Add a slight scale effect on hover */
}

/* Active effect */
button:active {
    background-color: #222;
    /* Darker background color on active */
    border-color: #555;
    /* Slightly darker border color on active */
    color: #ccc;
    /* Lighter text color on active */
    transform: scale(0.95);
    /* Add a slight scale effect on active */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add an inset shadow on active */
}

.output {
    display: flex;
    justify-content: center;

}

.h-2 {
    display: flex;
    justify-content: center;
}

.final-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e6e6e670;
    /* Light gray background */
    border: 2px solid #333;
    /* Dark gray border */
    padding: 20px;
    border-radius: 10px;
    /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle box shadow */
    color: #333;
    /* Dark gray text color */
    width: 70%;
    /* Set the desired width */
    margin: auto;
    /* Center the div horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#angleType {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    background-color: #333;
    color: #fff;
    padding: 8px;
    margin-left: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    appearance: none;
}

#angleType option {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
}