body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3498db, #2c3e50);
    color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #3498db;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.speedCalculator {
    text-align: center;
}

h1 {
    color: #e20c0c;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #000000;
}

input,
select,
button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    /* Rounded corners */
}

button {
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#speedResult {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}