body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #00c6ff, #eeeeee);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #0072ff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #05305a;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid;
    border-radius: 10px;
    height:4vh;
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }

    h1 {
        font-size: 1.5em;
    }

    #result {
        font-size: 1em;
    }
}
