body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9966, #ff5e62);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 500px;
    height: 450px;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #555;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.group1, .group2{
    margin-bottom: 20px;
}

.group3 {
    margin-bottom: 30px;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], select {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    transition: border-color 0.3s;
}

input[type="text"]:focus, select:focus {
    border-color: #ff9966;
    outline: none;
}

button {
    display: block;
    margin: 20px auto;
    background: linear-gradient(135deg, #ff9966, #ff5e62);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: transform 0.3s;
}

button:hover {
    transform: translateY(-3px);
}

#results {
    margin-top: 20px;
    text-align: center;
}
