body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.word-count-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 9px 7px 39px 1px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 9px 7px 39px 1px rgba(0, 0, 0, 0.67);
    box-shadow: 9px 7px 39px 1px rgba(0, 0, 0, 0.67);
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

textarea:focus {
    outline: none;
}

button {
    padding: 4px;
    border: none;
    background: #15d798;
    border-radius: 11px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 26px/1 "Open Sans", sans-serif;
    text-align: center;
}

button:hover {
    background: #47e2b1;
}

#result {
    margin-top: 10px;
    font-size: 16px;
}

.total-words,
.unique-words,
.average-length {
    color: #e74c3c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: xx-large;
    color: #3e3e3e;
    font: 60px/1 'TeXGyreAdventorBold';
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}