body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #3494e6, #ec6ead);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.calculator-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeInUp 0.8s ease-out;
    width: 600px;
    height: 500px;
    overflow-y: auto;
}

.calculator-container::-webkit-scrollbar {
    width: 10px;
}

.calculator-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ec6ead;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease-out;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

input,
select {
    padding: 15px;
    margin: 15px 0;
    width: 80%;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease, transform 0.2s ease-out;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4caf50;
    transform: scale(1.02);
}

.result-container {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    animation: fadeIn 1s ease-out;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
