body {
    padding: 0;
    margin: 0;
    background-color: #003135;
    color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
}

h1:after,
h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color: #f8f8f8;
}

.vl {
    border-left: 6px solid white;
    height: 270px;
}

#head {
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    margin-top: 15px;
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 160px;
    text-shadow: 2px 2px 5px rgb(12, 211, 12);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eqn {
    color: #4eff02;
}

#info {
    border: 2px solid #0FA4AF;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: #024950;
    height: 280px;
    box-shadow: 10px 10px 5px #070000;
}

#box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #024950;
    font-weight: 900;
    width: 95%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5)
}

input {
    height: 30px;
    width: 250px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button {
    background-color: #AFDDEF;
    padding: 5px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 900;
    font-family: monospace;
}

.content {
    margin-left: 450px;
}

button:hover {
    background-color: #86c7e1;
}
