*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}

body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(224, 177, 226, 1) 35%,
            rgba(117, 210, 230, 1) 100%);
    text-align: center;
}

header {
    max-width: 100vw;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(224, 177, 226, 1) 35%,
            rgba(117, 210, 230, 1) 100%);
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto auto;
    border: 2px solid F38630;
    border-radius: 1em;
    padding: 10px 10px;
    width: 75%;
}

.container-main {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

fieldset {
    display: inline-block;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border: 0;
}

label,
span,
p,
legend {
    padding: 0;
}

.label-text {
    display: inline-block;
    width: max-content;
    padding: 0px;
    text-align: left;
    margin: 5px 5px;
    color: black;
    font-size: 20px;
}

.input-cb {
    width: 45%;
}

input {
    margin: 5px 5px;
    line-height: 1.6;
    color: rgba(45, 48, 46, 0.8);
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 3px 3px;
}

.input-step {
    margin-bottom: 15px;
}

.error-message {
    width: 50%;
    margin: 0 auto 10px;
    color: red;
    text-align: center;
    background-color: pink;
    border-radius: 10px;
    padding: 8px 8px;
    border: solid pink;
}

.on-error {
    border-color: red;
}

.btn {
    width: 50%;
    margin: 0 auto;
    padding: 8px 8px;
    color: black;
    border: 1px solid rgb(122, 126, 122);
    border-radius: 8px;
    background-color: rgb(122, 126, 122);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    font-size: 17px;
    font-weight: 500;
}

.btn-div {
    text-align: center;
}

.btn:hover {
    color: rgb(249, 249, 249);
    background-color: green;
}

.results {
    width: calc(100% - 50px);
    margin: 0 auto;
    line-height: 0.6;
    background-color: #98fb98;
    border: 1px solid #4cbb17;
    border-radius: 10px;
    padding: 8px 8px;
}

.chart-info {
    margin-left: 60px;
}

.is-hidden {
    display: none;
}

/* result div */
.result-rect,
.result-trap,
.result {
    padding: 5px 5px;
    margin: 10px 5px 10px 5px;
}

.result-rect,
.result-trap {
    width: 50%;
    display: inline;
}

.result-trap {
    text-align: right;
    margin-left: 10%;
}

.result {
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 80%;
    }

    .input-cb {
        width: 35%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 86%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 95%;
    }

    .input-cb {
        width: 30%;
    }

    .label-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .label-text {
        font-size: 15px;
    }

    .input-step {
        width: 100px;
    }

    .input-range-from,
    .input-range-to {
        width: 70px;
    }
}

@media screen and (max-width: 400px) {
    .input-cb {
        width: 25%;
    }

    .input-range-from,
    .input-range-to {
        width: 50px;
    }
}
