body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #091020;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: yellow;
    transition: color 0.3s, transform 0.3s;
}

.title:hover {
    color: red;
    transform: scale(1.3);
}

.calculator-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;
    margin: 20px;
}

.calculator {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #da0808;
    border-radius: 15px;
    background-color: #1a1a1a;
}

.calculator-title {
    color: #bbed06;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-size: large;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: yellow;
    color: red;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(235, 192, 21);
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #cccccc;
}

#explanation {
    font-style: italic;
    color: #888888;
}