body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("assets/background.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(219, 220, 238, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 26px;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #0a0d0e;
    border-radius: 5px;
}

button {
    background-color: #033f7e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #aad0fa;
    color: black;
    border: 2px solid #0a0d0e;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}