* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #3e4451;
    color: white;
}

.container {
    padding: 3rem 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    align-items: center;
    text-align: center;
    background-color: #3f4e6e;
    border-radius: 1rem;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-size: 2.5rem;
}

.from,
.to {
    max-width: 300px;
}

a {
    text-decoration: none;
    color: white;
}