*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #ff0000, #0000ff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: rgb(54, 47, 255);
    text-shadow: 0 0 10px rgba(115, 111, 3, 0.114);
}

#inputText {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#countButton {
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#countButton:hover {
    background-color: #1e6021;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#reset-btn{
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-btn:hover {
    background-color: #1e6021;
}
