* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 26, 110, 0.1);
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(-60deg, #F765A3, #A155B9, #165BAA, #0B1354);
   }

section {
    margin-top: 5vh;
    width: 90%; 
    max-width: 90vh; 
    display: inline;
    min-height: auto; 
}

h1 {
    font-weight: bolder;
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 1px; 
    word-wrap: initial;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

div {
    background-color: #fddfdf;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

label {
    padding: 10px 20px;
    background-color: #F9D1D1;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem; 
    transition: .4s;
    margin: 10px 0;
}

.tab-content {
    display: none;
    margin: 1em 0;
    height: auto;
}

.tab-content .label-text {
    font-size: 1.2rem;
}

input[type="radio"]:checked+label {
    background-color: #FFA4B6;
    color: #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3 {
    display: block;
}

button {
    margin: 15px 0;
    width: 100%; 
    max-width: 300px; 
    padding: 10px;
    border-radius: 8px;
    border: none;
    display: block;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    display: block;
    border: none;
    line-height: 22px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 2px;
    width: 100%; 
    max-width: 300px; 
    margin: 5px 0;
}

.tab-content label {
    padding: 0;
    font-size: 0.9rem;
    background-color: transparent;
    display: block;
}

.note {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

span {
    display: block;
}


@media (max-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    label {
        font-size: 1rem; 
        padding: 8px 15px;
    }

    button {
        margin: 10px 0;
        padding: 8px 20px;
        font-size: 1rem; 
        width: 90%; 
    }

    input[type="number"],
    input[type="text"] {
        font-size: 1rem;  
        height: 2.5vmax;  
        padding-left: 2vmax;  
        padding-right: 2vmax; 
        padding-top: 2vmax;
        padding-bottom: 2vmax; 
    }

    .tab-content {
        padding: 5px;
    }
    .tab-content .label-text{
        font-size: 1rem;
    }
}


@media (max-width: 590px) {
    h1 {
        font-size: 2.5rem; 
        margin: 5px auto; 
    }
    h2{
        font-size: 1.8rem;
    }
    label {
        font-size: 0.9rem; 
        padding: 6px 10px;
        margin-bottom: 2px;
    }

    button {
        margin: 8px 0;
        padding: 8px 18px;
        font-size: 0.9rem; 
        width: 90%; 
    }

    input[type="number"],
    input[type="text"] {
        font-size: 1rem;  
        height: 2.5vmax;  
        padding-left: 2vmax;  
        padding-right: 2vmax; 
        padding-top: 2vmax;
        padding-bottom: 2vmax; /
    }

    .tab-content {
        padding: 8px;
    }
}


@media (max-width: 400px) {
    h1 {
        font-size: 2rem; 
        margin: 1px auto; 
    }
    h2{
        font-size: 1.5rem;
    }

    label {
        font-size: 0.8rem; 
        padding: 4px 10px;
    }

    button {
        margin: 5px 0;
        padding: 6px 15px;
        font-size: 0.8rem; 
        width: 90%;
    }

    input[type="number"],
    input[type="text"] {
        font-size: 1rem;  
        height: 2.5vmax; 
        padding-left: 2vmax;  
        padding-right: 2vmax; 
        padding-top: 2vmax;
        padding-bottom: 2vmax; /
    
    }

    .tab-content {
        padding: 5px;
    }
}