
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.section {
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
}


input[type="text"], input[type="number"] {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    padding-right: 0px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
}


#result, #spyNumbersResult {
    margin-top: 20px;
    font-size: 18px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"], input[type="number"] {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}
