body {
    font-family: Arial, sans-serif;
    background-image: url('assets/image.jpg');
    background-size: fit;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 90%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin: 10px 0 5px;
    font-size: 16px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #4c6f94;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
