@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: rgb(10, 0, 0);
  letter-spacing: 1px;
  background-color: rgba(50, 73, 163, 0.185);
}

.card-form{
  width: 500px;
  border-radius: 10px;
  background: rgb(166, 196, 249);
  
}

.form-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: rgb(252, 244, 244);
    font-size: 20px;
    font-weight: bold;
    background: #100257;
    border-radius: 10px 10px 0 0;
  }
  
.form-body{
    padding: 10px;
}

.row{
      display: flex;
      justify-content: space-around;
      padding: 10px;
    }
      
input[type="number"],select{
        width: 100%;
        margin: 0 15px;
        height: 35px;
        padding: 5px 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background: #e8ebed;
        color: #576366;
        font-size: 14px;
    }

    input[type="number"] {
        appearance: none;
    }

  
.form-footer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: end;
    justify-content: center;
    margin: 15px;
    padding: 15px 10px;}

    
button{
      height: 40px;
      line-height: 40px;
      border: none;
      border-radius: 5px;
      padding: 0px 15px 5px 15px;
      background: #180563;
      margin-right: 10px;
      font-size: 14px;
      font-family:Arial, Helvetica, sans-serif;
      color: white;
      letter-spacing: 1px;
}

button:focus{
    background: #000000;

}

button:hover{
    transition: all 1s ease-in;
    transform: translateY(-10px); 
    box-shadow: 2px 5px 0 #ffffffaa;
}
  
#result-container{
    display: grid;
    align-items: center;
    justify-items: center;
}