body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
    text-align: left;
}

input,
select {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 0.9em;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    color: #333;
}

#total-water {
    font-size: 1.5em;
    font-weight: bold;
}
