body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.calculator {
    text-align: center;
    border: 2px solid #3498db;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
}

input {
    margin: 15px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 4px;
    font-size: 14px;
}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    padding: 4px;
    border: none;
    background: #15d798;
    border-radius: 11px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 26px/1 "Open Sans", sans-serif;
    text-align: center;
}

button:hover {
    background: #47e2b1;
}


#result {
    margin-top: 20px;
    color: #333333;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: xx-large;
    color: #3e3e3e;
    font: 60px/1 'TeXGyreAdventorBold';
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}