body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a5797d, #95d9fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 10px;
    padding-bottom: 22px;
}


input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.button-container button {    
    flex: 1 1 calc(50% - 10px);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    background-color: #410070;
}

button:hover {
    background-color: #37108c;
}

button:active {
    background-color: #3f5ed1;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#result {
    padding: 20px;
    font-size: 22px;
    color: #333;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    display: none;
}

.name {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Georgia', serif;
    margin-bottom: 15px;
}
