body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f48a8a, #a3dbf5);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 20px; 
    overflow-y: auto; 
}

.calculator-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #333;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.result-container {
    margin-top: 20px;
}

#result {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #333;
}

.red {
    color: #f44336;
}