body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: rgb(16, 75, 170);
    padding: 15px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: white;
    height: 5px;
    width: 25px;
    margin: 3px 0;
}

.calculator-section {
    background-color: #5b0053;
    padding: 50px 0;
}

.calculator-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(233, 226, 233);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-container h1 {
    color: #333;
    text-align: center;
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label, input, select {
    width: 100%;
    font-size: 20px;
}

input, select {
    width: 100%;
    font-size: 18px;
}

button {
    background-color: #04703a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result-container {
    margin-top: 13  px;
}

#result {
    font-weight: bold;
    font-size: 20px;
}

.footer {
    background-color: #5b0053;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icon {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-icon a {
    color: white;
    text-decoration: none;
}

.social-icon i {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-item {
        padding: 15px;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }
}
