* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #ccf3fc, #2193b0);
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background: linear-gradient(to right, #85174e, #eb5077);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

h1 {
    color: #ebeff5;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 700;
    margin-top: 5px;
    color: #f8f5f5;
}

input[type="number"],
select {
    width: 100%;
    padding: 7px;
    margin-top: 3px;
    border: 2px solid #0d47a1;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input[type="number"]:focus,
select:focus {
    border-color: #546e7a;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #184d9c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #bef754;
    color:black;
    border-radius: 40px;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #f4f6f8;
}

@media (max-width: 400px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 20px;
    }
}