body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;

    font-size: 50px;
    color: #622c9b;
}

.main-container {
    display: flex;
    margin-top: 40px;
}

.left-side {
    width: 30%;
    background-image: url('assets/image.jpg');
    background-size: cover;
    background-position: center;
}

.right-side {
    width: 50%;
}

.left-side {
    padding-left: 15%;
}


.container_SU {
    width: 80%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.signup-content {
    padding: 75px 0;
}

.signup-form {
    width: 90%;
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.form-title {
    margin-bottom: 33px;
    font-size: 36px;
    color: #222;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group:last-child {
    margin-bottom: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #222;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    width: 90%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
    font-size: 20px;
}

input:focus {
    border-bottom: 1px solid #222;
}

.form-button {
    margin-top: 25px;
}

button {
    background: #6dabe4;
    color: #fff;
    border: none;
    padding: 15px 39px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4292dc;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.slider {
    text-align: center;
    margin-top: 20px;
}

#resultMessage {
    font-size: 20px;
}

#maximum {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(24, 236, 24);
    font-size: 30px;
}

#recommended {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;
    font-size: 30px;
}
