body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.calculator {
    text-align: center;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h1 {
    color: #333333;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #555555;
}

select,
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

button {
    padding: 4px;
    border: none;
    margin-top: 10px;
    background: #15d798;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 26px/1 "Open Sans", sans-serif;
    text-align: center;
}

button:hover {
    background: #47e2b1;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333333;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: xx-large;
    color: #3e3e3e;
    font: 50px/1 'TeXGyreAdventorBold';
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}