body {
    background-color: rgb(6, 0, 67);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #c7c3c3;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    color: rgb(5, 12, 43);
    font-size: large;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    padding: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
    width: 150px;
}

button {
    padding: 10px;
    background-color: #4e45d5;
    color: white;
    width: fit-content;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

button::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

button:hover::before {
    transform: scaleX(1);
}

button:hover {
    border: solid 3px #4e45d5;
    color: black;
}
