body {
    background: radial-gradient(circle, rgb(74, 141, 192), rgb(23, 62, 93));
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#matrixCalculator {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    width: 30%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}

h3,
label {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);

}

select,
input {
    width: 40px;
    text-align: center;
    margin: 5px;
    border: 1px solid #838181;
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.2);
}

#matrixSize {
    width: 70px !important;
}

button {
    background-color: rgba(3, 77, 169, 0.781);
    text-align: center;
    border-radius: 10px;
    color: rgb(230, 223, 235);
    cursor: pointer;
    font-weight: 6%;
    margin-top: 10px;
    padding: 5px 10px;
    width: auto;
    cursor: pointer;
    font-size: 0.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: rgb(5, 60, 150);
    box-shadow: 0 0 0 1px rgba(41, 8, 63, 0.712), 0 3px 5px 0 rgba(41, 8, 63, 0.712);
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box>div {
    display: flex;
    justify-content: space-between;
}
