body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    min-width: 500px;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 40px;
    color: #28b487;
}

input[type="number"] {
    width: calc(80% - 5px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: calc(50% - 5px);
    padding: 10px;
    background-color: #28b487;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}

#clear {
    margin-top: 10px;
}