body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

label {
    font-size: 18px;
    color: #333;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

caption {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: #fff;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}