body {
    margin-top: 100px;
    background-color: #8ACDD7;
}

.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #FFC0D9;
}

.container input {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 65px;
}

.container button {
    width: 80%;
    padding: 10px;
    background-color: #F9F9E0;
    outline: 1px solid #000000;
    border: none;
    border-radius: 65px;
}

.container h1 {
    margin-bottom: 20px;
}

.container h2 {
    margin-top: 20px;
}

.result {
    margin-top: 20px;
    margin-bottom: 50px;
}

#result {
    font-size: 20px;
    font-weight: bold;
}

.container button:hover {
    transform: scale(1.1);
    transition: 1s;
}