body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}

h1 {
    text-align: center;
    color: #333;
}

.converter {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.column {
    flex: 1;
    text-align: center;
}

.column input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
