* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

#circle-form-heading {
    font-weight: 550;
    font-size: 1.2rem;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007BFF;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

#reset {
    background-color: #dc3545;
}

#reset:hover {
    background-color: #c82333;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8f9fa;
}

@media (max-width: 600px) {
    .container {
        padding: auto;
    }

    button {
        width: auto;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}
