* {
    padding: 0px 0px;
    margin: 0px 0px;
}

body {
    background-color: #e2e2e2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: whitesmoke;
    height: 400px;
    width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    margin-top: 100px;
}

#longurl {
    position: relative;
    top: 40%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten {
    position: relative;
    top: 40%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: #337ab7;
}

#shorten:hover {
    background-color: skyblue;
}

#shorturl {
    position: relative;
    top: 45%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy {
    position: relative;
    top: 46%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: #337ab7;
}

#copy:hover {
    background-color: skyblue;
}

.main p {
    position: relative;
    top: 30%;
    left: 13%;
    height: 60px;
    width: 400px;
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    color: #337ab7;
}