body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Main Container Styles */
.main-container {
    text-align: center;
}

/* Container Styles */
.container {
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-top: 1em;
    margin-left: 10em;
}

/* Heading Styles */
h1 {
    margin-bottom: 1em;
    color: #333;
}

.heading {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0.5em;
}

/* Profit-Loss Div Styles */
.profit-loss {
    background-color: #f0f8ff; /* Light blue background */
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
}

/* Input and Button Styles */
.profit-loss input {
    width: calc(100% - 22px);
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.profit-loss button {
    width: 100%;
    padding: 0.7em;
    margin-top: 1em;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profit-loss button:hover {
    background-color: #0056b3;
}

/* Result Styles */
#result {
    margin-top: 1em;
    font-size: 1.2em;
    color: #333;
}
