body {
  background-color: #332941;
  margin: 0; /* Remove default margin */
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.main-box {
  
  margin: 20px;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #864AF9;
  height: 120%;
  justify-content: center;
  width: 120%;
  align-items: center;
  border-radius: 25px;
  padding: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1.2);
}

label {
  display: block;
  text-align: left;
  font-size: 40px;
  margin-bottom: 5px; 
  font-family: arial;
}

input {
  width: calc(100% - 20px); 
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  box-sizing: border-box;
  border: solid 1px black;
  font-size: 40px;
  height: 60px;
  font-family:arial;
}

.result {
  color: black;
  background-color: white;
  margin-top: 20px;
  padding: 3%;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family:arial;
}

.button-container {
  display: flex;
  justify-content: center; 
}

button {
  background-color: #F8E559;
  border: none;
  border-radius: 15px;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 40px;
  cursor: pointer; 
  font-family:arial;

  
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E0C33F;
}


button:active {
  transform: translateY(2px);
}
