body {
    font-family: Arial, sans-serif;
    padding: 100px;
    background: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 50%;
    margin: 10px auto;
    padding: 70px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #8e8c8c;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid black;
}

.button:hover {
    background-color: #3e8e41;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
