
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #4CAF50, #45a049);
  transition: background 0.5s ease-in-out;
}
h1{
 text-align: center;
}

  
  .calculator {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Slightly transparent white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.5s ease-out;
    transition: background-color 0.5s ease-in-out;
  }
  
  .calculator label {
    margin-bottom: 5px;
    display: block;
  }
  
  .calculator input,
  .calculator button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .calculator button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
  }
  
  .calculator button:hover {
    background-color: #3e8e41;
  }
  
  #result {
    font-weight: bold;
  }