body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f9f7fa, #f1698f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1.heading{
    text-align: center;
    color:rgb(235, 59, 88);
}

#converter {
    background: linear-gradient(to bottom, #f6f6f4, #6bd2e6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
   
}

button {
    background-color: rgb(235, 59, 88);
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left:150px;
}

button:hover {
    background-color: rgb(235, 59, 88);
}

#result {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

#conversionType {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    color: #333;
}
