html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.container-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.container-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
}

.container-box .input-box {
    position: relative;
}

.container-box .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.container-box .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
}

.container-box .input-box input:focus~label,
.container-box .input-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 13px;
}

.container-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: 2px solid #03e9f4;
}

.container-box a:hover {
    background: #03e9f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.container-box a span {
    position: absolute;
    display: block;
}


.content {
    color: #ffffff;
    padding: 4px;
    text-align: center;
}

.content-box {
    margin-top: 20px;
    border: 2px solid #03e9f4;
    border-radius: 4px;
}

.error-box,
.option-error-box {
    background-color: #ffcccc;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.select-box {
    position: relative;
    margin-top: 10px;
}

.select-box option {
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
    overflow: auto;
}

.select-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    margin-bottom: 5px;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
}

.select-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}