body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #fff8dc, #fff0b3);
    /* Yellowish light gradient */
    color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Changed to min-height for smaller screens */
}

.container {
    background-color: #fff8dc;
    /* Yellowish light background */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 90%;
    /* Changed to percentage for responsiveness */
    text-align: center;
}

.powerCalculator {
    text-align: center;
}

h1 {
    color: #e20c0c;
    /* Reddish text color */
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #000000;
}

input,
select,
button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    /* Rounded corners */
}

button {
    background-color: #0000ff;
    /* Blue button color */
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8b0000;
    /* Darker red on hover */
}

#powerResult {
    margin-top: 20px;
    font-size: 18px;
    color: #000080;
    /* Dark blue text color */
}