.faqWrapper {
    padding: 5rem 0 4rem;
}

.faqHeading {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    padding-top: 3rem;
    font-size: 4rem;
    text-shadow: 0px 0px 20px rgb(51, 34, 101), 0px 0px 40px rgb(121, 102, 175);
    color: rgb(0, 212, 255, 1);
}

.faqs_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.faqs {
    display: flex;
    padding: 2rem 2rem;
    gap: 2rem;
}

.faq {
    height: fit-content;
    padding: 1.5rem;
    background-color: #0000;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    cursor: pointer;
}

.faq_title {
    font-size: 18px;
    font-weight: 500;
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_title .plus {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.plusBtn {
    padding: .5rem;
}

.faq_content {
    height: 0;
    overflow: hidden;
    font-size: 1.7rem;
    font-family: Inter;
    color: #f7f7f7;
    transition: height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.faqWrapper a {
    text-decoration: none;
    color: #629add;
}

.faqWrapper a:hover {
    text-decoration: underline;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social {
    font-size: 3.5rem;
    text-decoration: none;
    margin: 0 1rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social a i {
    transition: transform 0.3s ease-in-out;
}

/* Pop up effect */

.social a:hover i {
    transform: translateY(-8px);
}

.social a {
    color: var(--secondary);
}

.social a.user:hover {
    color: #4af3b5;
}

.social a.message:hover {
    color: #73408f;
}

.social a.linkedin:hover {
    color: #1990cb;
}

.social a.github:hover {
    color: #21d061;
}

.social a.instagram:hover {
    color: #d62976;
}

.social a.facebook:hover {
    color: #0026ff;
}

.social a.twitter:hover {
    color: #00fff7;
}

.social a.discord:hover {
    color: #5865F2;
}

/* Responsive Media Query */

@media screen and (max-width: 768px) {
    .faqs_container {
        grid-template-columns: 1fr;
    }

    .faqs {
        flex-flow: column;
    }

    .faqHeading {
        margin-top: 2rem;
        padding: 0 0.5rem;
        text-align: center;
    }
}
