@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.faqWrapper {
    padding: 5rem 0 4rem;
}

.faqHeading {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 0 0 0 2rem;
    font-size: 4rem;
    text-shadow: 0px 0px 20px rgb(51, 34, 101), 0px 0px 40px rgb(121, 102, 175);
    color: rgb(0, 212, 255, 1);
}

.watermark {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: -1;
    opacity: 0.1;
}

.watermark img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.faqs_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.faqs {
    display: flex;
    padding: 2rem 2rem;
    gap: 2rem;
}

.faq {
    height: fit-content;
    padding: 1.5rem;
    background-color: #0000;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    cursor: pointer;
}

.faq_title {
    font-size: 18px;
    font-weight: 500;
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_title .plus {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.plusBtn {
    padding: .5rem;
}

.faq_content {
    height: 0;
    overflow: hidden;
    font-size: 1.7rem;
    font-family: Inter;
    color: #f7f7f7;
    transition: height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

a {
    text-decoration: none;
    color: #629add;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Media Query */
@media screen and (max-width: 768px) {
    .faqs_container {
        grid-template-columns: 1fr;
    }

    .faqs {
        flex-flow: column;
    }

    .faqHeading {
        padding: 0 0.5rem;
        text-align: center;
    }
}