body {
    font-family: Arial, sans-serif;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    color: #333;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 0vh;
}

h1,
h2 {
    color: #fff;
    background-color: #3498db;
    padding: 10px;
    border: 2px solid #2980b9;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.calculator-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.calculation-container,
.result-container {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}