* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.contributors {
    margin: 0;
    padding: 0;
    text-align: center;
}

.contributors h1 {
    color: var(--light);
    font-size: 4.5rem;
    transition: color 0.3s ease-in-out;
    margin: 25px 0 50px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: clamp(3rem, 3vw, 5rem);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.contributors h1:hover {
    color: #1e90ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.dark-mode .contributors h1 {
    color: rgb(255, 255, 0);
}

.dark-mode .contributors h1:hover {
    color: var(--dark);
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}

#contributor {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contributor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

.contributor-card:hover {
    transform: scale(1.22);
    opacity: 10;
}

.contributor-card img {
    width: 95px;
    height: 95px;
    clip-path: circle(50%); /* True circle */
    object-fit: cover;
    display: block;
    margin-bottom: 10px; /* Add some space below the image */
}

.contributor-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--secondary);
}

.contributions-count-bubble {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #fd414d;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -130px;
    right: -40px;
}

.dark-mode .contributions-count-bubble {
    color: #c9d1d9;
    background-color: #3A0088;
}

.lazy {
    filter: blur(5px);
    transition: filter 0.3s;
}

.lazy.loaded {
    filter: blur(0);
}

#loading-spinner {
    text-align: center;
    padding: 20px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#error-message {
    color: white;
    padding: 20px;
    display: none;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}