:root {
    --primary: #ff1b82;
    --secondary: #f4eff0;
    --ternary: #1327ff;
    --light: #f7f26c;
    --dark: #f50414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.4rem;
}

#contributor {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

.heroes {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    font-size: 45px;
    color: var(--light);
    text-align: center;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

h1:hover {
    color: var(--primary);
}

#contributor {
    margin: 0;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    width: 90%;
}

.placeholder {
    width: 95px;
    height: 95px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.placeholder::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    animation: loading 0.7s infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

div {
    display: block;
}

.contributor-card:nth-child(4n+1),
.contributor-card:nth-child(4n+3) {
    margin-top: -4px;
}

.contributor-card {
    width: 95px;
    height: 95px;
    clip-path: circle(40%);
    margin: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.contributor-card:hover {
    box-shadow: 0 0 10px rgba(253, 251, 251, 0.5);
}

.contributor-card:active {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0 20px rgb(188, 240, 210);
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 10;
    display: none;
    place-items: center;
    border-radius: 50%;
    transition: opacity 0.3s, background-color 0.3s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .2), inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: rgb(104, 98, 232);
    background: linear-gradient(90deg, rgb(159, 157, 235) 0%, rgb(212, 153, 222) 39%, rgb(253, 199, 134) 100%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 26px;
    color: black;
}

.scrollToTopContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    height: fit-content;
    width: fit-content;
    z-index: 100000;
}

.scrollToTopButton {
    border-radius: 100%;
    height: 42px;
    width: 42px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px palevioletred;
}
