
    #grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 10px;
      width: 90%;
      /* max-width: 1200px; */
    }
    .placeholder {
        width: 95px;
        height: 95px;
      background-color: #ccc;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
    }
    .placeholder::after {
      content: '';
      position: absolute;
      top: 0;
      left: -150%;
      width: 200%;
      height: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
      animation: loading 0.7s infinite;
    }
@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
