body {
    font-family: Arial, sans-serif;
    background: rgb(58,90,64);
    background: linear-gradient(90deg, rgba(58,90,64,1) 24%, rgba(2,0,36,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #dad7cd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

input[type="number"], button {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p#result {
    margin-top: 10px;
    font-weight: bold;
}
