@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #025d5e;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    background: #d4feff;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-group {
    flex: 1 1 300px;
}

label {
    font-size: 15px;
}

input {
    padding: 10px;
    border: 1px solid #025d5e;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #025d5e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #014f50;
}

#result {
    margin-top: 20px;
    text-align: left;
}

#result h2 {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

#result p {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
    border-bottom: 1px solid rgb(208, 208, 208);
}
