body {
    font-family: 'Roboto', sans-serif;
    background-image: url('assets/background.webp');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 100%;
    min-height: 100vh;
}

.calculator {
    background: #0d47a1; /* Dark blue background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffeb3b;
}

.formula {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffcc80;
}

.constant {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ffcc80;
}

label {
    font-size: 14px;
    margin: 10px 0 5px;
    display: block;
    text-align: left;
    color: #bbdefb;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #29b6f6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    flex: 1;
}

button:hover {
    background-color: #0288d1;
}

button:last-child {
    background-color: #f44336;
}

button:last-child:hover {
    background-color: #d32f2f;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}