body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('shoe.png'); /* background image */
    background-size: cover;
    background-position: center;
}

/* Styles for the converter container */
#converter-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto 0; 
}

/* Styles for heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the from*/
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

/* Styles for inputs and selects */
input[type="text"],  
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px; /* Adjust the font size as needed */
}

/* Hover styles for submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
    font-weight: bold;
}
